Repository ansible-collections/community.vmware, pull requests merged in 2021-02, with the labels that each got.

#476 vmware_content_deploy_template: Make parameter optional
  README.md
  changelogs/fragments/397_vmware_content.yml
  docs/community.vmware.vmware_content_deploy_template_module.rst
  docs/community.vmware.vmware_drs_group_manager_module.rst
  plugins/module_utils/vmware.py
  plugins/modules/vmware_content_deploy_template.py
  plugins/modules/vmware_guest.py
  plugins/modules/vmware_guest_cross_vc_clone.py
Labels: bug, cloud, community_review, docs, feature_request, gate, has_issue, module, module_utils, plugins

#634 prepare 1.7.0 release
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  docs/community.vmware.vmware_content_deploy_ovf_template_module.rst
  docs/community.vmware.vmware_content_deploy_template_module.rst
  docs/community.vmware.vmware_content_library_manager_module.rst
  docs/community.vmware.vmware_drs_group_manager_module.rst
  docs/community.vmware.vmware_first_class_disk_module.rst
  docs/community.vmware.vmware_guest_module.rst
  docs/community.vmware.vmware_host_firewall_manager_module.rst
  tox.ini
Labels: community_review, docs, gate

#635 vmware_host_service_manager: enable the test-suite
  tests/integration/targets/vmware_host_service_manager/aliases
Labels: cloud, community_review, feature, gate, integration, plugins, small_patch, tests

#639 vmware_guest: Remove unnecessary hardware version check
  changelogs/fragments/636_vmware_guest.yml
  plugins/modules/vmware_guest.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins

#638 vmware_dvs_portgroup: Fix the issues that the module hasn’t the idempotency when it is configured the multiple VLAN
  changelogs/fragments/638-vmware_dvs_portgroup.yml
  plugins/modules/vmware_dvs_portgroup.py
  tests/integration/targets/vmware_dvs_portgroup/tasks/main.yml
Labels: bug, cloud, community_review, gate, has_issue, integration, module, plugins, tests

#641 vmware_vcenter_settings: Support diff mode
  changelogs/fragments/641-vmware_vcenter_settings.yml
  docs/community.vmware.vmware_vcenter_settings_module.rst
  plugins/modules/vmware_vcenter_settings.py
  tests/integration/targets/vmware_vcenter_settings/tasks/main.yml
Labels: cloud, community_review, docs, feature, gate, integration, module, plugins, tests

#179 Fix vmware_guest advanced_settings and customvalues
  changelogs/fragments/602_vmware_guest.yml
  plugins/module_utils/vmware.py
  plugins/modules/vmware_guest.py
  plugins/modules/vmware_guest_info.py
Labels: affects_2.10, bug, cloud, community_review, gate, has_issue, module, module_utils, new_contributor, plugins

#643 vcenter_license: Fix the bug that the license doesn't assign in vCenter Server 7.0u1c
  changelogs/fragments/643-vcenter_license.yml
  plugins/modules/vcenter_license.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins, small_patch

#640 vmware_guest: Define sub-options of disk in argument_spec
  changelogs/fragments/640-vmware_guest-disk_suboptions.yml
  plugins/modules/vmware_guest.py
Labels: cloud, community_review, docs, gate, has_issue, module, plugins

#642 vmware_category: Add namespace to associable types
  changelogs/fragments/579_vmware_category.yml
  plugins/modules/vmware_category.py
Labels: bug, cloud, community_review, gate, has_issue, module, owner_pr, plugins

#668 ensure the unittests run fine
  test-requirements.txt
  tests/unit/module_utils/test_vmware.py
  tests/unit/modules/cloud/vmware/test_vmware_host_sriov.py
Labels: gate, needs_info, needs_template, needs_triage, tests

#661 vmware_deploy_ovf: Fix an issue that the port name with special caracters doesn't assign
  changelogs/fragments/661-vmware_deploy_ovf_and_vmware.yml
  plugins/module_utils/vmware.py
  plugins/modules/vmware_deploy_ovf.py
Labels: bug, cloud, community_review, gate, has_issue, module, module_utils, plugins, small_patch

#679 Enable vmComponentProtecting for APD/PDL response
  changelogs/fragments/676_vmware_cluster_ha.yml
  plugins/modules/vmware_cluster_ha.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins, small_patch

#648 Fix to decode URL encoded dvs port group name
  changelogs/fragments/648-vmware_dvs_portgroup_find_info.yml
  plugins/modules/vmware_dvs_portgroup_find.py
  plugins/modules/vmware_dvs_portgroup_info.py
  tests/integration/targets/vmware_dvs_portgroup_find/tasks/main.yml
  tests/integration/targets/vmware_dvs_portgroup_info/tasks/main.yml
Labels: cloud, community_review, feature, gate, has_issue, integration, module, plugins, tests

#680 Correctly return VSAN status
  changelogs/fragments/673-vmware_cluster_info.yml
  plugins/modules/vmware_cluster_info.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins, small_patch

#682 vmware_vm_storage_policy: Fix an issue that a pyvmomi SOAP error message displayed
  changelogs/fragments/682-vmware_vm_storage_policy.yml
  plugins/modules/vmware_vm_storage_policy.py
  tests/integration/targets/vmware_vm_storage_policy/tasks/main.yml
Labels: bug, cloud, community_review, gate, has_issue, integration, module, plugins, tests
