Repository ansible-collections/community.vmware, pull requests merged in 2021-05, with the labels that each got.

#827 fix sanity checks
  tests/sanity/ignore-2.12.txt
Labels: gate

#811 vmware_host_tcpip_stacks: Add a new module to update the tcpip stack configuration
  README.md
  docs/community.vmware.vmware_host_tcpip_stacks_module.rst
  meta/runtime.yml
  plugins/modules/vmware_host_tcpip_stacks.py
  tests/integration/targets/vmware_host_tcpip_stacks/aliases
  tests/integration/targets/vmware_host_tcpip_stacks/tasks/destroy.yml
  tests/integration/targets/vmware_host_tcpip_stacks/tasks/main.yml
  tests/integration/targets/vmware_host_tcpip_stacks/tasks/pre.yml
  tests/integration/targets/vmware_host_tcpip_stacks/tasks/vmware_host_tcpip_stacks_tests.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: cloud, community_review, docs, feature, gate, has_issue, integration, module, needs_triage, new_module, new_plugin, plugins, tests

#825 vmware: can not parse the facts dictionary
  changelogs/fragments/825-vmware.yml
  plugins/module_utils/vmware.py
Labels: gate

#820 vmware_vcenter_settings_info: Update logic
  plugins/modules/vmware_vcenter_settings_info.py
Labels: bug, cloud, community_review, gate, module, owner_pr, plugins

#823 remove a temporary file
  tests/integration/targets/inventory_vmware_vm_inventory/_test/hosts/tmp.vmware.yml
Labels: gate

#798 ignore objects that are removed during get_all_objs execution
  changelogs/fragments/791_vmware.yml
  plugins/module_utils/vmware.py
Labels: bug, community_review, gate, has_issue, module_utils, new_contributor, plugins

#766 vmware_cluster_drs/ha/vsan: Announce change of enable parameter default for the future
  changelogs/fragments/739-vmware_cluster_drs.yml
  plugins/modules/vmware_cluster_drs.py
  plugins/modules/vmware_cluster_ha.py
  plugins/modules/vmware_cluster_vsan.py
  tests/integration/targets/prepare_vmware_tests/tasks/setup_cluster.yml
  tests/integration/targets/vmware_cluster_drs/tasks/main.yml
  tests/integration/targets/vmware_cluster_ha/tasks/main.yml
  tests/integration/targets/vmware_cluster_vsan/tasks/main.yml
Labels: cloud, community_review, feature, gate, integration, module, plugins, tests

#830 prepare 1.10 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/644-vmware_dvs_portgroup.yml
  changelogs/fragments/712_vmware_vm_inventory.yml
  changelogs/fragments/721_vmware_guest.yml
  changelogs/fragments/729-vmware_host_iscsi_info.yml
  changelogs/fragments/732_vmware_vm_shell.yml
  changelogs/fragments/739-vmware_cluster_drs.yml
  changelogs/fragments/764-vmware_evc_mode.yml
  changelogs/fragments/777_vapp_info.yml
  changelogs/fragments/788-vmware_vm_storage_policy_info.yml
  changelogs/fragments/790-vmware_tag.yml
  changelogs/fragments/791_vmware.yml
  changelogs/fragments/803-vmware_vmotion-better-error-msg.yml
  changelogs/fragments/805-vmware_cluster_info.yml
  changelogs/fragments/825-vmware.yml
  changelogs/fragments/is_template.yml
  docs/community.vmware.vmware_cluster_drs_module.rst
  docs/community.vmware.vmware_cluster_ha_module.rst
  docs/community.vmware.vmware_cluster_vsan_module.rst
  docs/community.vmware.vmware_dvs_portgroup_info_module.rst
  docs/community.vmware.vmware_dvs_portgroup_module.rst
  docs/community.vmware.vmware_vm_inventory_inventory.rst
Labels: gate

#828 vmware_host_vmnic_info: added LLDP information
  changelogs/fragments/828_vmware_host_vmnic_info.yml
  plugins/modules/vmware_host_vmnic_info.py
Labels: feature, gate

#832 vmware_guest - add integration test for delete_vm
  tests/integration/targets/vmware_guest/tasks/delete_vm.yml
Labels: gate

#836 vmware_dvswitch: Add Network Policy
  changelogs/fragments/833-vmware_dvswitch-network_policy.yml
  docs/community.vmware.vmware_dvswitch_module.rst
  plugins/module_utils/vmware.py
  plugins/modules/vmware_dvs_portgroup.py
  plugins/modules/vmware_dvs_portgroup_info.py
  plugins/modules/vmware_dvswitch.py
  tests/integration/targets/vmware_dvswitch/tasks/main.yml
Labels: gate

#816 vmware_guest: Improve virtualization based security
  changelogs/fragments/816-vmware_guest.yml
  docs/community.vmware.vmware_guest_module.rst
  plugins/modules/vmware_guest.py
Labels: cloud, community_review, feature, gate, has_issue, module, plugins

#834 vmware_host_tcpip_stacks: Add ipv6_gateway option and nsx_overlay as an alias of vxlan
  changelogs/fragments/834-vmware_host_tcpip_stacks.yml
  docs/community.vmware.vmware_host_tcpip_stacks_module.rst
  plugins/modules/vmware_host_tcpip_stacks.py
Labels: gate

#838 vmware_host_custom_attributes: New Module for Configuring custom attributes on hosts.
  README.md
  changelogs/fragments/838_vmware_host_custom_attributes.yml
  docs/community.vmware.vmware_host_custom_attributes_module.rst
  plugins/modules/vmware_host_custom_attributes.py
  tests/integration/targets/vmware_host_custom_attributes/aliases
  tests/integration/targets/vmware_host_custom_attributes/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: gate

#674 Add vmware_host_inventory
  plugins/inventory/vmware_host_inventory.py
  plugins/module_utils/inventory.py
  tests/integration/targets/inventory_vmware_host_inventory/aliases
  tests/integration/targets/inventory_vmware_host_inventory/playbook/build_inventory.yml
  tests/integration/targets/inventory_vmware_host_inventory/playbook/build_inventory_with_cache.yml
  tests/integration/targets/inventory_vmware_host_inventory/playbook/build_inventory_without_cache.yml
  tests/integration/targets/inventory_vmware_host_inventory/playbook/install_dependencies.yml
  tests/integration/targets/inventory_vmware_host_inventory/playbook/prepare_vmware.yml
  tests/integration/targets/inventory_vmware_host_inventory/playbook/test_inventory_cache.yml
  tests/integration/targets/inventory_vmware_host_inventory/playbook/test_options.yml
  tests/integration/targets/inventory_vmware_host_inventory/playbook/test_vmware_host_inventory.yml
  tests/integration/targets/inventory_vmware_host_inventory/runme.sh
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: bug, community_review, gate, integration, new_plugin, tests

#740 vmware_object_role_permission_info: new module
  README.md
  docs/community.vmware.vmware_object_role_permission_info_module.rst
  meta/runtime.yml
  plugins/modules/vmware_object_role_permission_info.py
  tests/integration/targets/vmware_object_role_permission_info/alias
  tests/integration/targets/vmware_object_role_permission_info/tasks/main.yml
  tests/integration/targets/vmware_object_role_permission_info/tasks/vmware_object_role_permission_tests.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: bug, cloud, community_review, docs, gate, has_issue, integration, module, new_module, new_plugin, plugins, tests

#841 vmware_vcenter_settings: advanced_settings
  changelogs/fragments/819-vmware_vcenter_settings-advanced_setting.yml
  docs/community.vmware.vmware_vcenter_settings_module.rst
  plugins/modules/vmware_vcenter_settings.py
  tests/integration/targets/vmware_vcenter_settings/tasks/main.yml
Labels: cloud, community_review, docs, feature, gate, has_issue, integration, module, plugins, tests

#851 vmware_object_custom_attributes_info: Add a new module to gather custom attributes of an object
  README.md
  changelogs/fragments/851-vmware_object_custom_attributes_info.yml
  docs/community.vmware.vmware_object_custom_attributes_info_module.rst
  meta/runtime.yml
  plugins/modules/vmware_object_custom_attributes_info.py
  tests/integration/targets/vmware_object_custom_attributes_info/aliases
  tests/integration/targets/vmware_object_custom_attributes_info/tasks/main.yml
  tests/integration/targets/vmware_object_custom_attributes_info/tasks/pre.yml
  tests/integration/targets/vmware_object_custom_attributes_info/tasks/vmware_object_custom_attributes_info_tests.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: cloud, docs, feature, gate, integration, module, new_module, new_plugin, plugins, shipit, tests

#855 Allow the username to be a vault encrypted variable.
  changelogs/fragments/855_vmware_host_inventory.yml
  changelogs/fragments/855_vmware_vm_inventory.yml
  plugins/inventory/vmware_host_inventory.py
  plugins/inventory/vmware_vm_inventory.py
Labels: cloud, community_review, feature, gate, has_issue, inventory, new_contributor, plugins

#865 Update README: freenode -> libera.chat
  README.md
Labels: community_review, docs, gate, needs_triage, small_patch

#859 vmware_vmotion.py - add new parameter named destination_datacenter to fix failure to move storage when datastores are shared across datacenters
  changelogs/fragments/858_vmware_vmotion_add_destination_datacenter_parameter.yml
  plugins/modules/vmware_vmotion.py
Labels: bug, cloud, community_review, gate, has_issue, module, new_contributor, plugins
