Repository ansible-collections/community.vmware, pull requests merged in 2021-04, with the labels that each got.

#762 vmware_guest_instance_clone: tests: Unable to set power state
  tests/integration/targets/vmware_guest_instant_clone/tasks/main.yml
Labels: cloud, gate, integration, needs_info, needs_template, needs_triage, plugins, small_patch, tests

#774 vmware_guest_storage_policy: test need datastore
  tests/integration/targets/vmware_guest_storage_policy/tasks/main.yml
Labels: cloud, gate, integration, needs_info, needs_template, needs_triage, plugins, small_patch, tests

#772 vmware_guest_storage_policy: test: don't clean up the test VM
  tests/integration/targets/vmware_guest_storage_policy/tasks/main.yml
Labels: cloud, community_review, gate, integration, needs_triage, plugins, tests

#760 vmware_guest_instant_clone: properly initialize the env before the tests
  tests/integration/targets/vmware_guest_instant_clone/tasks/main.yml
Labels: cloud, gate, integration, needs_info, needs_template, needs_triage, plugins, small_patch, tests

#770 vmware_guest_register_operation: fix the test-suite
  tests/integration/targets/vmware_guest_register_operation/tasks/main.yml
Labels: cloud, community_review, gate, integration, plugins, tests

#778 Add ignore for Ansible 2.12
  tests/sanity/ignore-2.12.txt
Labels: bug, community_review, gate, tests

#769 vcenter_* tests: add dep on prepare_vmware_tests
  tests/integration/targets/vcenter_domain_user_group_info/aliases
  tests/integration/targets/vcenter_extension_info/aliases
  tests/integration/targets/vcenter_folder/aliases
Labels: cloud, community_review, gate, integration, plugins, tests

#764 vmware_evc_mode: Fix an issue that evc_mode is required when the state parameter set to absent
  changelogs/fragments/764-vmware_evc_mode.yml
  docs/community.vmware.vmware_evc_mode_module.rst
  plugins/modules/vmware_evc_mode.py
Labels: bug, cloud, community_review, docs, gate, has_issue, module, plugins

#790 vmware_tag: Modify the category_id parameter to be required for all state
  changelogs/fragments/790-vmware_tag.yml
  docs/community.vmware.vmware_tag_module.rst
  plugins/modules/vmware_tag.py
  tests/integration/targets/vmware_guest_storage_policy/tasks/main.yml
  tests/integration/targets/vmware_tag/tasks/tag_crud_ops.yml
  tests/integration/targets/vmware_tag/tasks/tag_manager_duplicate_tag_cat.yml
  tests/integration/targets/vmware_vm_storage_policy/tasks/main.yml
Labels: cloud, community_review, docs, gate, integration, module, plugins, tests

#783 vmware_host_sriov: Only run tests when SR-IOV is supported by NIC
  tests/integration/targets/vmware_host_sriov/tasks/main.yml
Labels: cloud, community_review, feature, gate, integration, plugins, tests

#729 vmware_host_iscsi_info: Add detected_iscsi_drives value to return and fix the issue736
  changelogs/fragments/729-vmware_host_iscsi_info.yml
  docs/community.vmware.vmware_host_iscsi_info_module.rst
  plugins/modules/vmware_host_iscsi_info.py
  tests/integration/targets/vmware_host_iscsi_info/tasks/iscsi_info_module_test_tasks.yml
Labels: cloud, community_review, docs, feature, gate, integration, module, plugins, tests

#743 vmware_dvs_portgroup: MAC learning, elastic PGs and uplink configuration
  changelogs/fragments/644-vmware_dvs_portgroup.yml
  plugins/modules/vmware_dvs_portgroup.py
  plugins/modules/vmware_dvs_portgroup_info.py
  tests/integration/targets/prepare_vmware_tests/tasks/setup_dvswitch.yml
  tests/integration/targets/vmware_dvs_portgroup/tasks/main.yml
Labels: cloud, community_review, feature, gate, has_issue, integration, module, plugins, tests

#806 Do not return enabled_vsan and vsan_auto_claim_storage as a list
  changelogs/fragments/805-vmware_cluster_info.yml
  plugins/modules/vmware_cluster_info.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins, small_patch

#804 vmware_vmotion: Fail when required ESXi host is not found
  changelogs/fragments/803-vmware_vmotion-better-error-msg.yml
  plugins/modules/vmware_vmotion.py
Labels: bug, cloud, community_review, gate, module, plugins

#794 Clarify is_template in vmware_guest docs
  changelogs/fragments/is_template.yml
  docs/community.vmware.vmware_guest_module.rst
  plugins/modules/vmware_guest.py
Labels: cloud, community_review, docs, gate, module, new_contributor, plugins

#810 vmware_vm_info: Handle vApp parent logic
  changelogs/fragments/777_vapp_info.yml
  plugins/module_utils/vmware.py
Labels: bug, community_review, gate, has_issue, module_utils, needs_triage, plugins, small_patch

#788 vmware_vm_storage_policy_info: Fix an issue that the module can't get the info when the policy has the tag base rules
  changelogs/fragments/788-vmware_vm_storage_policy_info.yml
  plugins/modules/vmware_vm_storage_policy_info.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins

#812 Skip customvalues while deploying VM on a standalone ESXi
  changelogs/fragments/721_vmware_guest.yml
  plugins/modules/vmware_guest.py
Labels: bug, cloud, community_review, gate, module, owner_pr, plugins, small_patch

#768 catch exception raised for deleted resources
  changelogs/fragments/732_vmware_vm_shell.yml
  plugins/modules/vmware_vm_shell.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins, small_patch

#815 vmware_vm_inventory - set with_nested_properties as True
  changelogs/fragments/712_vmware_vm_inventory.yml
  plugins/inventory/vmware_vm_inventory.py
Labels: bug, cloud, community_review, gate, has_issue, inventory, plugins, small_patch
