Repository ansible-collections/community.vmware, pull requests merged in 2021-06, with the labels that each got.

#683 vmware_recommended_datastore new module
  README.md
  docs/community.vmware.vmware_recommended_datastore_module.rst
  meta/runtime.yml
  plugins/modules/vmware_recommended_datastore.py
  tests/integration/targets/vmware_recommended_datastore/aliases
  tests/integration/targets/vmware_recommended_datastore/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: cloud, community_review, docs, gate, has_issue, integration, module, new_module, new_plugin, plugins, tests

#877 vmware_content_library_manager: disable the test-suite
  tests/integration/targets/vmware_content_library_manager/aliases
Labels: CI, cloud, community_review, gate, integration, plugins, small_patch, tests

#867 vmware: fix that the return value should be returned None if moId doesn't exist
  changelogs/fragments/867-vmware.yml
  plugins/module_utils/vmware.py
Labels: bug, community_review, gate, has_issue, module_utils, plugins, small_patch

#879 vmware_object_custom_attributes_info: add a new parameter to support moid
  changelogs/fragments/879-vmware_object_custom_attributes_info.yml
  docs/community.vmware.vmware_object_custom_attributes_info_module.rst
  plugins/module_utils/vmware.py
  plugins/modules/vmware_object_custom_attributes_info.py
  tests/integration/targets/vmware_object_custom_attributes_info/tasks/pre.yml
  tests/integration/targets/vmware_object_custom_attributes_info/tasks/vmware_object_custom_attributes_info_tests.yml
Labels: cloud, community_review, docs, feature, gate, integration, module, module_utils, plugins, tests

#872 vmware_host_passthrough: Add a new module to enable or disable passthrough of PCI devices
  README.md
  changelogs/fragments/872-vmware_host_passthrough.yml
  docs/community.vmware.vmware_host_passthrough_module.rst
  meta/runtime.yml
  plugins/modules/vmware_host_passthrough.py
  tests/integration/targets/vmware_host_passthrough/aliases
  tests/integration/targets/vmware_host_passthrough/tasks/main.yml
  tests/integration/targets/vmware_host_passthrough/tasks/pre.yml
  tests/integration/targets/vmware_host_passthrough/tasks/vmware_host_passthrough.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: cloud, community_review, docs, feature, gate, has_issue, integration, module, new_module, new_plugin, plugins, tests

#796 Adding GuestOs Customization for Instant Clone feature
  changelogs/fragments/796-vmware_guest_instant_clone.yml
  plugins/modules/vmware_guest_instant_clone.py
  tests/integration/targets/vmware_guest_instant_clone/tasks/main.yml
Labels: cloud, feature, gate, integration, module, needs_triage, plugins, shipit, tests

#884 Add a string composed variable example for vmware_vm_inventory plugin
  plugins/inventory/vmware_host_inventory.py
  plugins/inventory/vmware_vm_inventory.py
Labels: cloud, community_review, docs, gate, inventory, new_contributor, plugins

#878 vmware_guest_controller: Added bus_sharing property to scsi controllers.
  changelogs/fragments/878_vmware_guest_controller.yml
  plugins/modules/vmware_guest_controller.py
Labels: cloud, community_review, feature, gate, module, new_contributor, plugins

#882 Revert "vmware_content_library_manager: disable the test-suite (#877)"
  tests/integration/targets/vmware_content_library_manager/aliases
Labels: cloud, gate, integration, needs_info, needs_template, plugins, small_patch, tests

#890 1.11.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  docs/community.vmware.vmware_guest_controller_module.rst
  docs/community.vmware.vmware_guest_instant_clone_module.rst
  docs/community.vmware.vmware_host_inventory_inventory.rst
  docs/community.vmware.vmware_vm_inventory_inventory.rst
Labels: community_review, docs, gate

#889 vmware_vswitch: remove / from special char tests
  tests/integration/targets/vmware_vswitch/tasks/main.yml
Labels: cloud, community_review, gate, integration, needs_triage, plugins, tests

#897 do not notify lparkes
  .github/BOTMETA.yml
Labels: gate, needs_info, needs_template, needs_triage

#831 vmware_guest: Fix hostname is None when not used in playbook.
  changelogs/fragments/831-vmware_guest-hostname.yml
  plugins/modules/vmware_guest.py
Labels: bug, gate

#874 vmware_object_role_permission_info - principal permissions
  changelogs/fragments/874-vmware_object_role_permission_info-principal_permissions.yml
  docs/community.vmware.vmware_object_role_permission_info_module.rst
  plugins/modules/vmware_object_role_permission_info.py
Labels: cloud, community_review, feature, gate, has_issue, module, new_contributor, performance, plugins

#900 Update docs
  docs/community.vmware.vmware_host_inventory_inventory.rst
  docs/community.vmware.vmware_vm_inventory_inventory.rst
Labels: community_review, docs, gate

#747 Fix multiple content deploy issues
  .gitignore
  changelogs/fragments/738-vmware_content_deploy_xxx.yml
  plugins/module_utils/vmware.py
  plugins/modules/vmware_content_deploy_ovf_template.py
  plugins/modules/vmware_content_deploy_template.py
  tests/integration/targets/vmware_guest_register_operation/tasks/main.yml
Labels: bug, cloud, community_review, gate, has_issue, integration, module, module_utils, new_contributor, plugins, tests

#821 vmware_guest_powerstate: Add the answer option to require in starting the vm
  changelogs/fragments/821-vmware_guest_powerstate.yml
  docs/community.vmware.vmware_guest_powerstate_module.rst
  plugins/module_utils/vmware.py
  plugins/modules/vmware_guest_powerstate.py
Labels: cloud, community_review, docs, feature, gate, module, module_utils, plugins

#904 vmware_guest_instant_clone: Improve some features
  changelogs/fragments/904-vmware_guest_instant_clone.yml
  docs/community.vmware.vmware_guest_instant_clone_module.rst
  plugins/modules/vmware_guest_instant_clone.py
Labels: gate

#848 vmware_rest_client support proxy
  changelogs/fragments/848_vmware_rest_client_add_support_for_proxy.yml
  docs/community.vmware.vmware_category_facts_module.rst
  docs/community.vmware.vmware_category_info_module.rst
  docs/community.vmware.vmware_category_module.rst
  docs/community.vmware.vmware_content_deploy_ovf_template_module.rst
  docs/community.vmware.vmware_content_deploy_template_module.rst
  docs/community.vmware.vmware_content_library_info_module.rst
  docs/community.vmware.vmware_content_library_manager_module.rst
  docs/community.vmware.vmware_object_rename_module.rst
  docs/community.vmware.vmware_tag_info_module.rst
  docs/community.vmware.vmware_tag_manager_module.rst
  docs/community.vmware.vmware_tag_module.rst
  docs/community.vmware.vmware_vc_infraprofile_info_module.rst
  plugins/doc_fragments/vmware_rest_client.py
  plugins/module_utils/vmware_rest_client.py
Labels: community_review, docs, feature, gate, has_issue, module_utils, needs_triage, plugins

#903 vmware_dvs_host: Implement adding pNICs to LAGs
  changelogs/fragments/112-vmware_dvs_host.yml
  docs/community.vmware.vmware_dvs_host_module.rst
  plugins/modules/vmware_dvs_host.py
  tests/integration/targets/vmware_dvs_host/tasks/main.yml
Labels: feature, gate, has_issue, module, tests

#909 Move PyVmomiDeviceHelper to module_utils.vm_device_helper
  plugins/module_utils/vm_device_helper.py
  plugins/modules/vmware_guest.py
Labels: feature_request, gate

#818 vmware_vm_inventory support api access behind proxy
  changelogs/fragments/817-vmware_vm_inventory-support-proxy.yml
  plugins/inventory/vmware_host_inventory.py
  plugins/inventory/vmware_vm_inventory.py
  plugins/module_utils/vmware.py
Labels: bug, cloud, community_review, gate, inventory, module_utils, plugins

#914 vmware_guest_disk: Use functions from module_utils
  plugins/module_utils/vm_device_helper.py
  plugins/modules/vmware_guest_disk.py
Labels: gate
