Repository ansible-collections/community.vmware, pull requests merged in 2021-01, with the labels that each got.

#592 vmware_host_ntp: add the integration tests of disconnected ESXi
  tests/integration/targets/vmware_host_ntp/tasks/main.yml
Labels: gate

#572 vmware_host_disk_info: new module
  README.md
  docs/community.vmware.vmware_host_disk_info_module.rst
  plugins/modules/vmware_host_disk_info.py
  tests/integration/targets/vmware_host_disk_info/aliases
  tests/integration/targets/vmware_host_disk_info/tasks/main.yml
Labels: gate, new_module

#594 prepare the 1.6.0 release
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/196_vmware_guest_disk.yml
  changelogs/fragments/373-vmware_guest_disk.yml
  changelogs/fragments/485_vmware_file_operation.yml
  changelogs/fragments/527-vmware_host_facts.yml
  changelogs/fragments/539-vmware_host_ntp.yml
  changelogs/fragments/545-vmware_guest.yml
  changelogs/fragments/554_vsphere_copy.yml
  changelogs/fragments/568_teardown_with_esxi.yaml
  changelogs/fragments/570_vmware_guest.yml
  changelogs/fragments/575_vmware_cluster.yml
  changelogs/fragments/576-vmware_dvswitch.yml
  changelogs/fragments/589_vmware_host.yml
  changelogs/fragments/pvlan_support.yml
  changelogs/fragments/vmware_host_logbundle.yml
  changelogs/fragments/vsan_health_info_refactor.yml
  docs/community.vmware.vmware_datastore_cluster_manager_module.rst
  docs/community.vmware.vmware_datastore_info_module.rst
  docs/community.vmware.vmware_deploy_ovf_module.rst
  docs/community.vmware.vmware_guest_controller_module.rst
  docs/community.vmware.vmware_guest_disk_module.rst
  docs/community.vmware.vmware_guest_file_operation_module.rst
  docs/community.vmware.vmware_vmkernel_module.rst
  docs/community.vmware.vmware_vsan_health_info_module.rst
Labels: gate

#567 vmware_migrate_vmk: Fix integration test
  tests/integration/targets/vmware_migrate_vmk/aliases
  tests/integration/targets/vmware_migrate_vmk/tasks/main.yml
Labels: gate

#591 vmware_cluster_info: add a parent datacenter name of Cluster to the return value
  changelogs/fragments/591-vmware_cluster_info.yml
  docs/community.vmware.vmware_cluster_info_module.rst
  plugins/modules/vmware_cluster_info.py
  tests/integration/targets/vmware_cluster_info/tasks/main.yml
Labels: feature, gate

#600 vmware_host_iscsi/test: ignore pre-existing state
  tests/integration/targets/vmware_host_iscsi/tasks/main.yml
Labels: gate

#564 vmware_host_firewall_manager: prepare all_ip transition
  changelogs/fragments/vmware_host_firewall_manager-prepare-all_ip-transition.yaml
  plugins/modules/vmware_host_firewall_manager.py
Labels: gate

#606 iscsi_info: don't depend on the initial state of the host
  tests/integration/targets/vmware_host_iscsi_info/tasks/iscsi_info_module_test_tasks.yml
Labels: gate

#607 vmware_host_iscsi_info: Update the module part in EXAMPLE block
  docs/community.vmware.vmware_host_iscsi_info_module.rst
  plugins/modules/vmware_host_iscsi_info.py
Labels: docs, gate

#597 update meta/runtime.yml
  meta/runtime.yml
Labels: gate

#620 ensure the sanity tests pass with 2.10.5
  tests/integration/targets/vmware_cluster_info/tasks/main.yml
  tests/integration/targets/vmware_guest/tasks/network_with_portgroup.yml
  tests/integration/targets/vmware_guest_network/tasks/main.yml
Labels: cloud, community_review, gate, integration, plugins, tests

#595 vmware_guest: Define sub-options of hardware and customization in argument_spec
  changelogs/fragments/555-vmware_guest.yml
  changelogs/fragments/593_vmware_guest.yml
  plugins/modules/vmware_guest.py
Labels: cloud, community_review, documentation, feature, gate, has_issue, module, plugins

#617 vmware_host_iscsi: Support an iSCSI name changing option
  changelogs/fragments/617-vmware_host_iscsi.yml
  docs/community.vmware.vmware_host_iscsi_module.rst
  plugins/modules/vmware_host_iscsi.py
  tests/integration/targets/vmware_host_iscsi/tasks/iscsi_module_test_tasks.yml
Labels: cloud, community_review, docs, feature, gate, has_issue, integration, module, plugins, tests

#615 vmware_first_class_disk: New module
  README.md
  docs/community.vmware.vmware_first_class_disk_module.rst
  meta/runtime.yml
  plugins/module_utils/vmware.py
  plugins/modules/vmware_first_class_disk.py
  tests/integration/targets/vmware_first_class_disk/aliases
  tests/integration/targets/vmware_first_class_disk/tasks/main.yml
Labels: cloud, community_review, docs, gate, integration, module, module_utils, new_module, new_plugin, tests

#614 vmware_dvswitch: correctly add contact information
  changelogs/fragments/608_vmware_dvswitch.yml
  plugins/modules/vmware_dvswitch.py
  tests/integration/targets/vmware_dvswitch/tasks/main.yml
Labels: bug, cloud, community_review, gate, has_issue, integration, module, plugins, tests

#627 vmware_datastore_cluster_manager: Fix idempotency in check mode
  changelogs/fragments/623-vmware_datastore_cluster_manager.yml
  plugins/modules/vmware_datastore_cluster_manager.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins, small_patch

#626 vmware_guest_register_operation: Support the check mode
  changelogs/fragments/626-vmware_guest_register_operation.yml
  plugins/modules/vmware_guest_register_operation.py
  tests/integration/targets/vmware_guest_register_operation/tasks/main.yml
Labels: cloud, community_review, feature, gate, integration, module, needs_triage, plugins, tests

#569 vmware_content_library_manager: Content library features
  changelogs/fragments/569_content_library.yml
  plugins/modules/vmware_content_library_manager.py
  tests/integration/targets/vmware_content_library_manager/tasks/main.yml
Labels: cloud, community_review, feature, gate, has_issue, integration, module, plugins, tests

#512 vmware_drs_group_manager: new module
  README.md
  docs/community.vmware.vmware_drs_group_manager_module.rst
  meta/runtime.yml
  plugins/modules/vmware_drs_group_manager.py
  tests/integration/targets/vmware_drs_group_manager/aliases
  tests/integration/targets/vmware_drs_group_manager/tasks/main.yml
Labels: bug, cloud, community_review, docs, gate, has_issue, integration, module, new_module, new_module_request, new_plugin, plugins, tests

#633 vmware_host_lockdown: Support check mode
  changelogs/fragments/633-vmware_host_lockdown.yml
  plugins/modules/vmware_host_lockdown.py
  tests/integration/targets/vmware_host_lockdown/aliases
  tests/integration/targets/vmware_host_lockdown/tasks/main.yml
Labels: cloud, community_review, feature, gate, integration, module, plugins, tests

#629 vmware_dvswitch_lacp: Typecast uplink_number in lag_options
  changelogs/fragments/111-vmware_dvswitch_loop.yml
  plugins/modules/vmware_dvswitch_lacp.py
Labels: bug, cloud, community_review, gate, has_issue, module, owner_pr, plugins
