Repository ansible-collections/community.vmware, pull requests merged in 2021-03, with the labels that each got.

#690 Remove tests/sanity/requirements.txt
  tests/sanity/requirements.txt
Labels: community_review, gate, tests

#693 vmware_guest_register_operation: An error has been occurring when not specify a datacenter name
  changelogs/fragments/693-vmware_guest_register_operation.yml
  plugins/modules/vmware_guest_register_operation.py
Labels: bug, cloud, community_review, gate, has_issue, module, owner_pr, plugins

#697 prepapre 1.8.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/111-vmware_dvswitch_loop.yml
  changelogs/fragments/397_vmware_content.yml
  changelogs/fragments/555-vmware_guest.yml
  changelogs/fragments/569_content_library.yml
  changelogs/fragments/579_vmware_category.yml
  changelogs/fragments/591-vmware_cluster_info.yml
  changelogs/fragments/593_vmware_guest.yml
  changelogs/fragments/602_vmware_guest.yml
  changelogs/fragments/608_vmware_dvswitch.yml
  changelogs/fragments/617-vmware_host_iscsi.yml
  changelogs/fragments/618_vmware_content_deploy_ovf_template.yml
  changelogs/fragments/623-vmware_datastore_cluster_manager.yml
  changelogs/fragments/626-vmware_guest_register_operation.yml
  changelogs/fragments/633-vmware_host_lockdown.yml
  changelogs/fragments/636_vmware_guest.yml
  changelogs/fragments/638-vmware_dvs_portgroup.yml
  changelogs/fragments/640-vmware_guest-disk_suboptions.yml
  changelogs/fragments/641-vmware_vcenter_settings.yml
  changelogs/fragments/643-vcenter_license.yml
  changelogs/fragments/648-vmware_dvs_portgroup_find_info.yml
  changelogs/fragments/661-vmware_deploy_ovf_and_vmware.yml
  changelogs/fragments/673-vmware_cluster_info.yml
  changelogs/fragments/676_vmware_cluster_ha.yml
  changelogs/fragments/682-vmware_vm_storage_policy.yml
  changelogs/fragments/693-vmware_guest_register_operation.yml
  changelogs/fragments/vmware_host_firewall_manager-prepare-all_ip-transition.yaml
  docs/community.vmware.vmware_guest_info_module.rst
  docs/community.vmware.vmware_guest_module.rst
  docs/community.vmware.vmware_guest_register_operation_module.rst
Labels: community_review, docs, gate

#687 Add esxi_hostname support in vmware_deploy_ovf module
  changelogs/fragments/670-vmware_deploy_ovf_and_vmware.yml
  plugins/module_utils/vmware.py
  plugins/modules/vmware_deploy_ovf.py
Labels: bug, cloud, community_review, gate, has_issue, module, module_utils, needs_triage, plugins

#675 New module: vmware_guest_instant_clone
  meta/runtime.yml
  plugins/modules/vmware_guest_instant_clone.py
  tests/integration/targets/inventory_vmware_vm_inventory/_test/hosts/tmp.vmware.yml
  tests/integration/targets/vmware_guest_instant_clone/aliases
  tests/integration/targets/vmware_guest_instant_clone/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: cloud, community_review, gate, integration, module, new_contributor, new_module, new_plugin, plugins, tests

#701 vmware_guest: Correct check for advanced_settings
  plugins/modules/vmware_guest.py
  tests/integration/targets/vmware_guest/defaults/main.yml
  tests/integration/targets/vmware_guest/tasks/advanced_settings.yml
Labels: bug, cloud, community_review, gate, has_issue, integration, module, plugins, tests

#715 Sanity: no_log check sanity test fixes
  changelogs/fragments/no_log_sanity.yml
  plugins/modules/vcenter_extension.py
  plugins/modules/vmware_dvs_host.py
  plugins/modules/vmware_guest_custom_attribute_defs.py
  plugins/modules/vmware_guest_sendkey.py
  plugins/modules/vmware_host_iscsi.py
  plugins/modules/vmware_vc_infraprofile_info.py
Labels: bug, cloud, community_review, gate, module, owner_pr, plugins, tests

#705 vmware_guest: Fix disk parameter validation
  changelogs/fragments/703-vmware_guest.yml
  plugins/modules/vmware_guest.py
  tests/integration/targets/vmware_guest/defaults/main.yml
  tests/integration/targets/vmware_guest/tasks/multiple_disk_controllers_d1_c1_f0.yml
Labels: bug, cloud, community_review, gate, has_issue, integration, module, plugins, tests

#698 vmware_deploy_ovf: Fix an issue that a return value hasn’t the instance key when the power_on parameter is False
  changelogs/fragments/698-vmware_deploy_ovf.yml
  plugins/modules/vmware_deploy_ovf.py
Labels: bug, cloud, community_review, gate, has_issue, module, plugins, small_patch

#667 vmware_vmkernel_ip_config: Deprecate in favor of vmware_vmkernel
  changelogs/fragments/667-vmware_vmkernel_ip_config.yml
  meta/runtime.yml
  plugins/modules/vmware_vmkernel_ip_config.py
  tests/sanity/ignore-2.9.txt
Labels: cloud, community_review, feature, gate, integration, module, plugins, tests

#724 vmware_local_user_manager: Fix to require local_user_password
  changelogs/fragments/724-vmware_local_user_manager.yml
  docs/community.vmware.vmware_local_user_manager_module.rst
  plugins/modules/vmware_local_user_manager.py
Labels: bug, cloud, community_review, docs, gate, module, plugins

#696 vmware_vm_inventory: get hostname's FQDN
  changelogs/fragments/vmware_inventory_example.yml
  docs/community.vmware.vmware_vm_inventory_inventory.rst
  plugins/inventory/vmware_vm_inventory.py
Labels: cloud, community_review, docs, gate, inventory, new_contributor, plugins

#726 vmware_vm_inventory: Skip VMs in disconnected state
  changelogs/fragments/disconnect_inventory.yml
  plugins/inventory/vmware_vm_inventory.py
Labels: bug, cloud, community_review, gate, inventory, plugins, small_patch

#718 vmware_resource_pool: Add parent_resource_pool parameter
  changelogs/fragments/717-vmware_resource_pool.yml
  plugins/modules/vmware_resource_pool.py
  tests/integration/targets/vmware_resource_pool/tasks/main.yml
Labels: cloud, community_review, feature, gate, integration, module, new_contributor, plugins, tests

#733 vmware_vm_inventory: skip over ghost tags attached to VMs
  changelogs/fragments/681_vmware_inventory.yml
  plugins/inventory/vmware_vm_inventory.py
Labels: bug, cloud, community_review, gate, has_issue, inventory, plugins, small_patch

#659 New module: vmware_guest_storage_policy
  README.md
  docs/community.vmware.vmware_guest_storage_policy_module.rst
  meta/runtime.yml
  plugins/modules/vmware_guest_storage_policy.py
  tests/integration/targets/vmware_guest_storage_policy/aliases
  tests/integration/targets/vmware_guest_storage_policy/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: cloud, community_review, docs, gate, integration, module, new_contributor, new_module, new_plugin, plugins, tests

#744 vmware_vmkernel_ip_config: Fix module.deprecate
  plugins/modules/vmware_vmkernel_ip_config.py
Labels: cloud, community_review, docs, gate, module, plugins, small_patch

#745 vmware_guest_instant_clone: Tweak the module adding esxi_hostname alias and removing duplicated hostname paramete
  changelogs/fragments/745-vmware_guest_instant_clone.yml
  docs/community.vmware.vmware_guest_instant_clone_module.rst
  plugins/modules/vmware_guest_instant_clone.py
Labels: cloud, docs, feature, gate, module, plugins, shipit

#734 vmware_cluster_vsan: Fix a bug when advanced_options is not set
  changelogs/fragments/728-vmware_cluster_vsan.yml
  plugins/modules/vmware_cluster_vsan.py
Labels: bug, cloud, community_review, gate, has_issue, module, needs_triage, owner_pr, plugins

#752 vmware_dvs_portgroup_info: ensure functional tests pass
  tests/integration/targets/vmware_dvs_portgroup_info/tasks/main.yml
Labels: cloud, community_review, gate, integration, plugins, small_patch, tests

#753 README: Add the vSAN Management SDK for Python to README
  README.md
Labels: community_review, docs, gate, small_patch

#756 vmware_guest_instant_clone: CI test starts VM
  tests/integration/targets/vmware_guest_instant_clone/aliases
Labels: cloud, gate, integration, needs_info, needs_template, plugins, small_patch, tests

#755 CI: ensure vmware_guest tests only run on nested capable host
  tests/integration/targets/vmware_guest/aliases
Labels: cloud, gate, integration, needs_info, needs_template, needs_triage, plugins, small_patch, tests

#754 vmware_first_class_disk: ensure we run the CI test only once
  tests/integration/targets/vmware_first_class_disk/aliases
Labels: CI, cloud, gate, integration, needs_info, needs_template, plugins, small_patch, tests
