Repository ansible-collections/community.vmware, pull requests merged in 2022-03, with the labels that each got.

#1237 REAMDE.md: Add EOL
  README.md
Labels: community_review, has_issue, docs, mergeit

#1245 Fix validate-modules issues
  plugins/connection/vmware_tools.py
  plugins/httpapi/vmware.py
  plugins/inventory/vmware_host_inventory.py
  plugins/inventory/vmware_vm_inventory.py
Labels: bug, CI, community_review, connection, has_issue, httpapi, inventory, cloud, plugins, mergeit

#1235 Backports 1.18
  README.md
  changelogs/fragments/1176-vmware_dv_portgroup.yml
  changelogs/fragments/1243-vmware-dvs-host-uplink-ordering.yml
  changelogs/fragments/datastore_url-added-to-vm_info.yaml
  changelogs/fragments/remove_pre-collection_version_added.yml
  changelogs/fragments/vmware_vm_config_option.yml
  plugins/connection/vmware_tools.py
  plugins/doc_fragments/vmware.py
  plugins/httpapi/vmware.py
  plugins/inventory/vmware_host_inventory.py
  plugins/inventory/vmware_vm_inventory.py
  plugins/modules/vmware_dvs_host.py
  plugins/modules/vmware_object_role_permission.py
  plugins/modules/vmware_vm_config_option.py
  plugins/modules/vmware_vm_info.py
  tests/integration/targets/inventory_vmware_host_inventory/runme.sh
  tests/integration/targets/inventory_vmware_vm_inventory/runme.sh
  tests/integration/targets/vmware_vm_inventory/ansible.cfg
  tools/prepare_release.yml
Labels: mergeit

#1192 Document user variable usage
  plugins/connection/vmware_tools.py
Labels: community_review, connection, new_contributor, docs, cloud, plugins, mergeit

#1227 vmware_guest_powerstate - fix `shutdownguest` is not idempotent
  changelogs/fragments/fix_shutdownguest_state_idempotency.yml
  plugins/module_utils/vmware.py
Labels: bug, community_review, module_utils, new_contributor, plugins, small_patch, mergeit

#1271 Update 1241-vmware_vm_info-add_the_posibility_to_get_only_one_vm_by_n…
  changelogs/fragments/1241-vmware_vm_info-add_the_posibility_to_get_only_one_vm_by_name.yaml
Labels: bug, community_review, owner_pr, mergeit

#1262 prepare 1.18.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1176-vmware_dv_portgroup.yml
  changelogs/fragments/1243-vmware-dvs-host-uplink-ordering.yml
  changelogs/fragments/datastore_url-added-to-vm_info.yaml
  changelogs/fragments/remove_pre-collection_version_added.yml
  changelogs/fragments/vmware_vm_config_option.yml
  docs/community.vmware.vcenter_license_module.rst
  docs/community.vmware.vmware_httpapi.rst
  docs/community.vmware.vmware_object_role_permission_module.rst
  docs/community.vmware.vmware_tools_connection.rst
  docs/community.vmware.vmware_vm_info_module.rst
  docs/community.vmware.vmware_vm_inventory_inventory.rst
Labels: bug, community_review, docs, mergeit

#1263 prepare 2.2.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1241-vmware_vm_info-add_the_posibility_to_get_only_one_vm_by_name.yaml
  changelogs/fragments/1243-vmware-dvs-host-uplink-ordering.yml
  changelogs/fragments/fix_shutdownguest_state_idempotency.yml
  changelogs/fragments/vmware_vm_config_option.yml
  docs/community.vmware.vmware_httpapi.rst
  docs/community.vmware.vmware_tools_connection.rst
  docs/community.vmware.vmware_vm_info_module.rst
Labels: needs_triage, community_review, docs, mergeit

#1267 Fix sanity tests
  plugins/inventory/vmware_host_inventory.py
  plugins/inventory/vmware_vm_inventory.py
  tests/sanity/ignore-2.14.txt
Labels: bug, community_review, inventory, tests, cloud, plugins, mergeit
